apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: kube-prometheus-stack-58.4.0 # Use a specific chart version
    chart: kube-prometheus-stack
    helm:
      values: |
        grafana:
          enabled: false # Deploy Grafana separately
        prometheus:
          prometheusSpec:
            scrapeInterval: 15s
            evaluationInterval: 15s
            serviceMonitorSelectorNilUsesPods: false # Important for discovering ServiceMonitors
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring # Deploy to a dedicated monitoring namespace
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
